@import "../styles/01-design-tokens/media-breakpoints.css";

.root {
  padding: var(--space-xl);
  background-color: var(--color-dark-gray, #32373e);
  color: var(--color-white, #fff);
}

.company {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  margin-top: var(--space-xl);
  margin-right: auto;
  margin-left: auto;
}

.companyName {
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.sections {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1024px;

  @media (--media-min-large) {
    max-height: 350px;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
  }

  & > :last-child {
    @media (--media-min-large) {
      margin-left: auto;
    }

    @media (min-width: 1024px) {
      margin-left: 0;
    }
  }

  & > * + * {
    margin-top: var(--space-l);

    @media (min-width: 1024px) {
      margin-top: 0;
      margin-left: var(--space-xl);
    }
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sectionTitle {
  margin-bottom: var(--space-m);
  font-weight: 400;
  font-size: 22px;
  font-family: "Oswald", sans-serif;
}

.sectionLink {
  display: block;
  color: var(--color-white, #fff);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-background-secondary, #fff);

    @supports (
      (-webkit-text-decoration-skip: ink) or (text-decoration-skip-ink: auto)
    ) {
      text-underline-offset: 0.15em;
      -webkit-text-decoration-skip: ink;
      text-decoration-skip-ink: auto;
    }
  }

  &:focus {
    outline: 1px dotted currentColor;
    outline-offset: 0.15em;

    &:not(:focus-visible) {
      outline: none;
    }
  }
}

.mapBackground {
  width: 300px;
  height: 300px;
  background-image: url("/images/embarcadere_map.png");
}
