@import "../styles/01-design-tokens/media-breakpoints.css";

.root {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  margin: 0 auto;
  color: var(--color-white, #fff);
}

.root a {
  color: inherit;
  text-decoration: inherit;
}

.branding {
  @nest & > a {
    display: block;
    padding: 1.5em;

    @supports (padding-top: env(safe-area-inset-top)) {
      padding-left: calc(env(safe-area-inset-left) + 1.5rem);
    }
  }

  @nest & img, & svg {
    vertical-align: top;
    width: auto;
    height: calc(var(--font-base-line-height) * 1.5rem);
    color: inherit;
  }

  @nest & svg path {
    fill: currentColor;
  }

  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
  text-transform: uppercase;

  @media (--media-max-medium) {
    flex: 1;
  }
}

.logo {
  display: block;
}

.nav {
  @media (--media-min-medium) {
    flex: 1;
  }
}

.navItems {
  margin: 0;
  padding: 0;

  @supports (padding-top: env(safe-area-inset-top)) {
    padding-right: calc(env(safe-area-inset-right) + 1rem);
  }

  @media (--media-min-medium) {
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem;
  }

  @media (--media-max-medium) {
    @nest .root[data-show-nav="menu"] & {
      display: block;
    }

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    display: none;
    width: 100%;
    background-color: var(--color-background-primary);
    color: var(--color-text-primary);
  }
}

.navItem {
  @nest & > a {
    position: relative;
    display: block;
    padding: 1.5rem 0.5rem;

    @media (--media-max-medium) {
      @nest &[data-is-active="true"]::before {
        content: "";
        position: absolute;
        bottom: 0.5rem;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--color-white, #fff);
      }

      width: 100%;
      padding: 1rem 1.5rem;
      text-align: right;
    }
  }

  @nest .root[data-show-nav="true"] & > a[data-is-active="true"]::before {
    display: none;
  }

  display: flex;
  align-items: stretch;
  line-height: calc(var(--font-base-line-height) * 1.5rem);
  white-space: nowrap;

  @media (--media-min-medium) {
    margin-left: 0.5rem;
  }
}

.showNavButton {
  margin: 0;
  padding: 1.5rem;
  border: none;
  background: none;
  color: inherit;
  outline: none;
  font: inherit;
  appearance: none;

  @media (--media-min-medium) {
    display: none;
  }
}

.hamburgerIcon {
  display: block;
  font-size: calc(var(--font-base-line-height) * 1.5rem);

  @media (--media-min-medium) {
    display: none;
  }
}

.navLanguagesItems {
  @nest .root[data-show-nav="languages"] & {
    display: block;
  }

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  display: none;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
}

.showNavLanguagesButton {
  height: 100%;
  margin: 0;
  padding: 1.5rem;
  border: none;
  background: none;
  color: inherit;
  outline: none;
  font: inherit;
  cursor: pointer;
  appearance: none;
}
