@import "./01-design-tokens";
@import "./02-generics";
@import "./03-elements";

#__next,
.container {
  height: 100%;
}

.container {
  width: 100%;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100% - 84px - 218px);

  & > * + * {
    max-width: 1024px;
  }
}
