@import "../../styles/01-design-tokens/media-breakpoints.css";

.root {
  position: relative;
  align-self: stretch;
  overflow: hidden;
  margin: calc(100vw * var(--magic-number)) 0;
  transform: skewY(-5deg);

  @media (--media-min-large) {
    display: flex;
    align-self: center;
    min-height: 420px;
    margin: 0;
    transform: none;
  }

  & > * {
    transform: skewY(5deg);

    @media (--media-min-large) {
      transform: none;
    }
  }
}

.image {
  position: absolute;
  top: calc(-1 * calc(100vw * var(--magic-number)));
  left: 0;
  object-fit: cover;
  width: 100%;
  height: calc(100% + calc(100vw * var(--magic-number)) * 2);

  @media (--media-min-large) {
    position: relative;
    top: 0;
    flex: 0 0 auto;
    width: 50%;
    height: auto;
  }
}

.leafContainer {
  --animation-duration: 2s;
  transform-origin: 50% -100%;
  animation: spin var(--animation-duration) linear forwards;
}

.leaf {
  animation: drop var(--animation-duration) ease-out forwards,
    appear var(--animation-duration) ease-out forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(25deg);
  }
  75% {
    transform: rotate(0deg);
  }
  87% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes drop {
  0% {
    transform: translateY(-100px);
  }
  90% {
    transform: translateY(0px);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}

@keyframes animateText {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.transparent > * + * {
  opacity: 0;
}

.animatedText > * + * {
  animation: animateText 2s ease-out;
}

@keyframes fallingLeaf {
  from {
    transform: translate(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.textContainer {
  position: relative;
  max-width: calc(var(--content-width) - 2rem);
  margin: calc(2rem + var(--skew-padding)) auto;

  @media (--media-min-large) {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    max-width: initial;
    margin: 0;
  }
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 100px rgba(0, 0, 0, 0.25);
  text-align: center;

  @media (--media-min-large) {
    border-radius: none;
    background-color: transparent;
    box-shadow: none;
    text-align: left;
  }

  & > * + * {
    margin-top: var(--space-l);
    text-align: center;
  }
}

.root:nth-child(even) .textContainer {
  @media (--media-min-large) {
    order: 1;
    background-color: var(--color-background-secondary);
  }
}

.root:nth-child(odd) .image {
  @media (--media-min-large) {
    order: 1;
  }
}
