@import "../../styles/custom-media.css";

.root {
  position: relative;
  align-self: stretch;
  overflow: hidden;
  margin: calc(100vw * var(--magic-number)) 0;
  transform: skewY(-5deg);

  @media (--media-min-large) {
    display: flex;
    align-self: center;
    max-width: 1024px;
    min-height: 420px;
    margin: 0;
    transform: none;
  }

  & > * {
    transform: skewY(5deg);

    @media (--media-min-large) {
      transform: none;
    }
  }
}

.image {
  position: absolute;
  top: calc(-1 * calc(100vw * var(--magic-number)));
  left: 0;
  object-fit: cover;
  width: 100%;
  height: calc(100% + calc(100vw * var(--magic-number)) * 2);

  @media (--media-min-large) {
    position: relative;
    top: 0;
    flex: 0 0 auto;
    width: 50%;
    height: auto;
  }
}

.textContainer {
  position: relative;
  max-width: calc(var(--content-width) - 2rem);
  margin: calc(2rem + var(--skew-padding)) auto;

  @media (--media-min-large) {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    max-width: initial;
    margin: 0;
  }
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 100px rgba(0, 0, 0, 0.25);
  text-align: center;

  @media (--media-min-large) {
    border-radius: none;
    background-color: transparent;
    box-shadow: none;
    text-align: left;
  }

  & > * + * {
    margin-top: var(--space-l);
    text-align: center;
  }
}

.root:nth-child(even) .textContainer {
  background-color: var(--color-background-secondary);

  @media (--media-min-large) {
    order: 1;
  }
}

.root:nth-child(odd) .image {
  @media (--media-min-large) {
    order: 1;
  }
}
