@import "../../styles/custom-media.css";

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  overflow: hidden;
  padding: 84px var(--space-m);
  background-color: var(--color-text-primary, #000);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-text-inverse, #fff);

  @media (--media-min-small) {
    min-height: 280px;
  }

  @media (--media-min-large) {
    min-height: 240px;
    background-position: center center;
  }
}

.root::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 50%;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(#222e, #2220);
}

.root::after {
  @media (--media-max-large) {
    content: "";
    position: absolute;
    top: calc(100% - 100vw * 0.08748);
    right: 0;
    bottom: calc(-1 * 100vw * 0.08748);
    left: 0;
    background-color: var(--color-background-primary, #fff);
    transform: skewY(-5deg);
    transform-origin: 50% 0;
  }
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: var(--width-small);
  text-align: center;
}

.title {
  /* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); */
  margin: 0;
  padding: 0;
  font-size: 28px;

  @media (--media-min-large) {
    font-size: 72px;
  }
}

.tagline {
  max-width: 31ch;
  margin: 0;
  margin-top: 0.5em;
  margin-bottom: 1rem;
  padding: 0 var(--space-m);
  font-size: 16px;

  /* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); */

  @media (--media-min-large) {
    font-size: 20px;
  }
}

.tagline > p {
  margin: 0;
  line-height: 1.5;
}
