@import "../../styles/custom-media.css";
@import "../../styles/custom-properties.css";

.root {
  position: relative;
  /* min-height: 310px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-black, #000);
  color: var(--color-white, #fff);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  padding: 84px var(--space-m);
  overflow: hidden;

  @media (--media-min-large) {
    background-position: center center;
    min-height: 240px;
  }
}

.root::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 50%;
  left: 0;
  background-image: linear-gradient(#222e, #2220);
  width: 100%;
  height: 50%;
  z-index: 0;
}

.root::after {
  @media (--media-max-large) {
    content: "";
    position: absolute;
    left: 0;
    top: calc(100% - 100vw * 0.08816);
    right: 0;
    bottom: calc(-1 * 100vw * 0.08816);
    background-color: white;
    transform: skewY(-10deg);
    transform-origin: 50% 0;
  }
}

.content {
  position: relative;
  width: 100%;
  max-width: var(--width-small);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
}

.title {
  /* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); */
  margin: 0;
  padding: 0;
  font-size: 28px;

  @media (--media-min-large) {
    font-size: 72px;
  }
}

.tagline {
  max-width: 67vw;
  margin: 0;
  padding: 0 var(--space-m);
  margin-top: 0.5em;
  margin-bottom: 1rem;
  font-size: 16px;
  /* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); */

  @media (--media-min-large) {
    font-size: 20px;
  }
}

.tagline > p {
  margin: 0;
  line-height: 1;
}
