@import "../../styles/custom-media.css";

.root {
  position: relative;
  align-self: stretch;
  overflow: hidden;
  margin: calc(100vw * var(--magic-number)) 0;
  transform: skewY(-5deg);

  @media (--media-min-large) {
    display: flex;
    align-self: center;
    width: 100%;
    max-width: 1024px;
    min-height: 420px;
    margin: 0;
    transform: none;
  }

  & > * {
    transform: skewY(5deg);

    @media (--media-min-large) {
      transform: none;
    }
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: calc(var(--content-width) - 2rem);
  margin: calc(2rem + var(--skew-padding)) auto;
  padding: 2rem;
  border-radius: 10px;
  background-color: var(--color-background-primary, #fff);
  box-shadow: 0 4px 100px rgba(0, 0, 0, 0.25);
}

.heading {
  color: var(--color-brand-primary);
  font-size: 46px;
}

.ranges {
  margin-top: var(--space-xl);
}

.range {
  display: flex;
  justify-content: space-between;
  padding: var(--space-l);
  font-size: 29px;
  font-family: "Lato", sans-serif;
}

.range:nth-child(odd) {
  background-color: var(--color-background-secondary);
}

.range:not(:last-child) {
  border-bottom: 1px solid var(--color-text-primary);
}

.monthsRanges {
  padding-right: var(--space-xxl);
  font-weight: bold;
  font-size: 29px;
}

.hoursRanges {
  font-size: 24px;
}
