@import "../../styles/01-design-tokens/media-breakpoints.css";

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  width: 100vw;

  @media (--media-min-large) {
    flex-direction: row;
    align-self: center;
    min-height: 420px;
  }
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (--media-min-large) {
    flex: 1 0 50%;
    width: 50%;
  }
}

.image {
  max-width: 300px;
  margin: var(--space-l) auto;
}

.textContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50ch;
  margin: 0;

  @media (--media-min-large) {
    width: 50%;
  }
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: left;

  & > * + * {
    margin-top: var(--space-l);
    text-align: left;
  }
}

.root:nth-child(even) .textContainer {
  @media (--media-min-large) {
    order: 1;
  }
}

.root:nth-child(odd) .imageContainer {
  @media (--media-min-large) {
    order: 1;
  }
}
