.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-xl) var(--space-l);
}

.heading {
  margin-bottom: var(--space-xl);
  color: var(--color-brand-primary);
  line-height: 1.5;
  letter-spacing: 2px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: calc(var(--space-l) / -2);

  & > * {
    flex: 0 1 288px;
    margin: calc(var(--space-l) / 2);
  }
}

.prestation {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 460px;
  padding: var(--space-xl) var(--space-l);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.2);

  & > * {
    z-index: 1;
  }

  & > * + * {
    margin-top: var(--space-m);
  }
}

.prestation::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.27) 0%,
    rgba(0, 0, 0, 0.2052) 22.44%,
    rgba(0, 0, 0, 0) 32.81%
  );
  mix-blend-mode: normal;
}

.title {
  color: var(--color-text-inverse);
  text-align: center;
}

.price {
  padding: var(--space-s) var(--space-m);
  background-color: var(--color-brand-accent);
  font-size: 0.875rem;
}

.cta {
  min-width: 200px;
  margin-top: auto;
  border: none;
  background-color: var(--color-brand-primary);
  color: var(--color-text-inverse);
  font-size: 20px;
  text-align: center;
}
