.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-xl) var(--space-l);

  & > * + * {
    margin-top: var(--space-xl);
  }
}

.heading {
  color: var(--color-brand-primary);
  font-size: 28px;
  line-height: 1.5;
  letter-spacing: 2px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-l);
  justify-content: center;
}

.prestation {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  max-width: 288px;
  min-height: 460px;
  padding: var(--space-xl) var(--space-l);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.2);

  & > * {
    z-index: 1;
  }

  & > * + * {
    margin-top: var(--space-m);
  }
}

.prestation::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background:
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.27) 0%,
      rgba(0, 0, 0, 0.2052) 22.44%,
      rgba(0, 0, 0, 0) 32.81%
    );
  mix-blend-mode: normal;
}

.title {
  margin: 0;
  color: var(--color-text-inverse);
  font-size: 26px;
  line-height: 31px;
  text-align: center;
}

.price {
  padding: var(--space-s) var(--space-m);
  background-color: var(--color-brand-accent);
  font-size: 14px;
  line-height: 1.5;
}

.cta {
  box-sizing: border-box;
  min-width: 200px;
  margin-top: auto;
  border: none;
  background-color: var(--color-brand-primary);
  color: var(--color-text-inverse);
  font-size: 20px;
  text-align: center;
}
